.header {
    position: sticky;
    width: 100%;
    z-index: 3;
    top: 0;
    border: 1px solid #573443;
    margin-bottom: -5px;
}

.navbar {
    background: #573443;
    padding: 0 100px;
}

.navbar__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.nav-item {
    padding: 20px 10px;
    margin: 0;
}

.nav-item-2 {
    padding: 20px 7px;
    margin: 0;
}

.button-item {
    height: 44px;
    width: 44px;
    padding: 10px;
    border: 0;
    color: black;
    border-radius: 5px;
    z-index: 3;
}

.logo {
    margin-right: 10px;
}

.logo-img {
    width: 80px;
    /* height: 70px; */
    border-radius: 10px;
}

.item {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7vw;
    color: #e9d4c8;
    margin-left: 1vw;
}

.item:hover {
    font-size: 2vw;
    margin-left: -0.25vw;
    color: #e9d4c8;
}

button:hover {
    height: 50px;
    width: 50px;
    border-radius: 8px;
}