.content-item {
  /* width: 724px; */
  /* width: calc(33.33% - 30px); */
  width: 450px;
  height: 600px;
  background-color: aliceblue;
  margin: 20px 10px 0 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px 20px 20px 20px;
  position: relative;
}

.item-img {
  border-radius: 30px;
  margin-bottom: 20px;
  /* height: 300px; */
  width: 400px;
}

.item-h2 {
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
}

.item-p {
  font-size: 20px;
  color: black;
}

.card-footer {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  top: 520px;
  left: 340px;
}

.reaction-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  width: 6vw;
  height: 4vw;
  font-size: 2vw;
  color: white;
  text-decoration: none;
  background-color: black;
  border-radius: 15px;

}

.reaction-btn:hover {
  color: white;
} 


.reaction-img {
  width: 3vw;
  /* height: 2vw; */
}

.img-d {
  display: flex;
  justify-content: center;
}