.content-item {
  /* width: 724px; */
  /* width: calc(33.33% - 30px); */
  width: 450px;
  height: 600px;
  background-color: #573443;
  margin: 20px 10px 0 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 1%;
  margin: 1%;
  position: relative;
  border: 2px solid #50303d;
}

.item-img {
  border-radius: 30px;
  margin-bottom: 20px;
  height: 200px;
  width: 400px;
}

.item-h2 {
  font-size: 30px;
  color: #e9d4c8;
  margin-bottom: 10px;
  cursor: default;
}

.item-p {
  font-size: 20px;
  color: #e9d4c8;
  cursor: default;
}

.card-footer {
  width: 416.9px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row-reverse; */
  /* top: 520px; */
  bottom: 1vw;
  /* left: 340px; */
  border-radius: 10px;
  align-items: center
}

.reaction-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  width: 6vw;
  height: 4vw;
  font-size: 2vw;
  color: #e9d4c8;
  text-decoration: none;
  background-color: #1c0c13;
  border-radius: 15px;
  border: 1px solid #1c0c13;
  cursor: pointer;
}

.reaction-btn:hover {
  color: #e87c76;
} 
.more-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 8vw;
  height: 2vw;
  font-size: 1vw;
  color: #e9d4c8;
  text-decoration: none;
  background-color: #1c0c13;
  border-radius: 15px;
  border: 1px solid #1c0c13;
  cursor: pointer;
}

.more-btn:hover {
  color: #e87c76;
} 

/* .reaction-img {
  width: 3vw;
  height: 2vw; 
  cursor: pointer;
}

.img-d {
  display: flex;
  justify-content: center;
} */