.content-item-inf {
  /* width: 724px; */
  /* width: calc(33.33% - 30px); */
  width: 95vw;
  height: 600px;
  background-color: #573443;
  margin: 13px 10px 13px 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 1%;
  border: 2px solid #50303d;
}

.inf {
  color: #e9d4c8;
  font-size: 30px;
}

